[ req ]
default_bits       = 2048
distinguished_name = req_distinguished_name
req_extensions     = req_ext
prompt             = no
[ req_distinguished_name ]
countryName                = AU
stateOrProvinceName        = Western Australia
localityName               = Osborne Park
organizationName           = Orgname
commonName                 = server.com.au
[ req_ext ]
subjectAltName = @alt_names
[alt_names]
DNS.1   = *.server.com.au
